body {
  font-family: "Bebas Neue", cursive;
  font-family: "Roboto", sans-serif;
}
/*common Style Start*/
.containers {
  width: 1170px;
  margin: auto;
}
.buttons {
  width: 170px;
  height: 60px;
  background: linear-gradient(0deg, #ff8063 -28.33%, #f46060 95.83%);
  text-align: center;
  border-radius: 6px;
}
.buttons a {
  text-align: center;
  color: white;
  text-decoration: none;
  line-height: 60px;
}
/*common Style End*/

/*Top Menu Start*/
.top-menu {
  width: 425px;
  float: right;
}

.top-menu ul li {
  float: left;
  padding: 10px 18px;
}

.top-menu ul {
  list-style: none;
}

.top-menu ul li a {
  line-height: 24px;
  font-size: 16px;
  text-decoration: none;
  color: #3c3c3c;
  font-weight: 500;
}
/*Top Menu End*/

/*Hero Section Start*/
#hero-section {
  overflow: hidden;
}
.top-first-section {
  margin-top: 100px;
}
.top-right img {
  width: 450px;
}

.top-left h1 {
  font-size: 70px;
  font-family: Bebas Neue;
  color: #363958;
}
.top-left {
  width: 50%;
  float: left;
}

.top-left span {
  color: #ff8367;
}

.top-right {
  width: 40%;
  float: right;
}

/*Hero Section End*/

/*About Section Start*/
#about-me-section {
  margin-top: 90px;
  overflow: hidden;
}

.about-left img {
  width: 474px;
}

.about-left {
  width: 60%;
  float: left;
}
.about-right {
  width: 40%;
  float: right;
}
.about-right h1 {
  color: #363958;
  font-size: 48px;
  font-family: "Bebas Neue";
}

.section-title {
  text-align: center;
  width: 500px;
  margin: auto;
  margin-bottom: 76px;
}
.section-title h1 {
  font-size: 47px;
  font-family: "Bebas Neue";
  font-weight: 700;
}

.section-title span {
  color: #f46060;
}
/*About Section End*/

/*Latest Work Start*/
#lastet-work-main-section {
  height: 500px;
  background: #f8f9fc;
  padding-top: 60px;
  margin-top: 30px;
  padding-bottom: 160px;
}

.latest-work-grid {
  width: 322px;
  float: left;
  background: white;
  border-radius: 21px;
  padding: 9px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
  margin-left: 29px;
}

.work-img img {
  width: 320px;
}

.latest-work-grid h3 {
  color: #363958;
  font-size: 24px;
  font-family: "Roboto";
  font-weight: 700;
}

.latest-work-grid p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto";
}
/*Latest Work End*/

/*My Service Section Start*/
#main-service-section {
  overflow: hidden;
}
.service-grid {
  width: 300px;
  box-shadow: 0px 0px 12px -4px #e8e8e8;
  text-align: center;
  float: left;
  padding-bottom: 27px;
  padding: 0px 10px 25px;
  margin-left: 40px;
}

.service-grid img {
  width: 200px;
  height: 200px;
  background: red;
}

.service-text h3 {
  font-size: 30px;
  font-family: "Roboto";
  color: black;
  font-weight: 600;
}

.service-text p {
  color: #737070;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 400;
}

.service-buttons a {
  background: linear-gradient(0deg, #ff8063 -28.33%, #f46060 95.83%);
  padding: 10px 41px;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}
/*My Service Section End*/

/*Customer review Section Start*/
.Client-info-main-box {
  width: 40%;
  float: left;
  text-align: center;
  box-shadow: 0px 0px 3px 2px #ddd;
  margin-left: 93px;
  margin-right: -59px;
}
section#customer-review {
  overflow: hidden;
  width: 100%;
  height: 713px;
  background: #f8f9fc;
  margin-top: 74px;
}

.client-photo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #ddd;
}

.client-text {
  background: #f8f9fc;
}

.client-photo {
  background: linear-gradient(0deg, #ff8063 -28.33%, #f46060 95.83%);
  padding: 5px;
}

.client-text h3 {
  font-size: 22px;
  color: black;
  font-family: inherit;
}

.client-text p {
  font-size: 16px;
  color: #676767;
  font-weight: 400;
  padding-bottom: 10px;
}

/*Customer review Section End*/

/*Chat Banner Start*/
.chat-banner-inner-bg {
  background-image: url(../image/chatbg.png);
  height: 225px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 23px;
}
#chat-banner {
  margin-top: 100px;
}

.chat-left {
  width: 60%;
  float: left;
}

.chat-left h3 {
  font-size: 66px;
  color: white;
  font-family: "Bebas Neue";
  margin-top: 75px;
  margin-left: 90px;
}
.chat-right {
  width: 27%;
  float: right;
  margin-top: 84px;
}

/*Chat Banner End*/

/*footer Section Start*/
section#footer h2 {
  text-align: center;
  color: #696871;
  font-family: "Bebas Neue";
  font-size: 24px;
}

section#footer {
  text-align: center;
  margin-top: 62px;
}

section#footer b {
  font-size: 36px;
  font-family: "Roboto";
}

.footer-social-links img {
  margin-top: 30px;
  width: 40px;
}
/*footer Section end*/
