body {
  font-family: "Bebas Neue", cursive;
  font-family: "Roboto", sans-serif;
}
/*common Style Start*/
.containers {
  width: 1170px;
  margin: auto;
}
/*common Style End*/

/*Top Menu Start*/
.top-menu {
  width: 425px;
  float: right;
}

.top-menu ul li {
  float: left;
  padding: 10px 18px;
}

.top-menu ul {
  list-style: none;
}

.top-menu ul li a {
  line-height: 24px;
  font-size: 16px;
  text-decoration: none;
  color: #3c3c3c;
  font-weight: 500;
}
/*Top Menu End*/

/*Hero Section Start*/
#hero-section {
  overflow: hidden;
}
.top-first-section {
  margin-top: 100px;
}
.top-right img {
  width: 450px;
}

.top-left h1 {
  font-size: 70px;
  font-family: Bebas Neue;
  color: #363958;
}
.top-left {
  width: 50%;
  float: left;
}

.top-left span {
  color: #ff8367;
}

.top-right {
  width: 40%;
  float: right;
}
.buttons {
  width: 170px;
  height: 60px;
  background: linear-gradient(0deg, #ff8063 -28.33%, #f46060 95.83%);
  border-radius: 6px;
  text-align: center;
}
.buttons a {
  text-align: center;
  color: white;
  text-decoration: none;
  line-height: 60px;
}
/*Hero Section End*/

/*About Section Start*/
#about-me-section {
  margin-top: 90px;
}

.about-left img {
  width: 474px;
}

.about-left {
  width: 60%;
  float: left;
}
.about-right {
  width: 40%;
  float: right;
}
.about-right h1 {
  color: #363958;
  font-size: 48px;
  font-family: "Bebas Neue";
}
/*About Section End*/
